Searching for :

%ul
  %li Equipment : #{@equipment.name}
  %li Search Term : #{params['search_specs']}
  %li Property : #{@property.name}
  %li Terms : #{@search_term}

%table.table.table-bordered
  %thead
    %th Item Code
    %th Description
    - @equipment.properties.each do |property|
      %th= params['search_specs'] + ' ' + property.name
  - case params['search_specs']
    - when 'Actual'
      %tbody
        - @products.each do |product|
          %tr
            %td= link_to product.itemcode, product
            %td= link_to product.description, product
            - @equipment.properties.each do |property|
              %td= product.actual_specs[property.actual_key]
    - when 'Design'
      %tbody
        - @products.each do |product|
          %tr
            %td= link_to product.itemcode, product
            %td= link_to product.description, product
            - @equipment.properties.each do |property|
              %td= product.design_specs[property.design_key]



