%h2 Product Search

= form_tag search_results_path, method: :get do
  .row
    .form-group.col-lg-3
      = label_tag :category, "Find", class: 'control-label'
      .controls
        = collection_select :search, :category, Category.all, :id, :name, {}, class: 'form-control', id: 'category-filter'
        -# = select_tag :category, options_from_collection_for_select(Category.all, 'id', 'name'), class: 'form-control', id: 'category-filter'

  .row
    .form-group.col-lg-3
      = label_tag :search_property, "Where", class: 'control-label'
      .controls#property-select

  .row
    .form-group.col-lg-3
      = label_tag :search_specs
      = select_tag :search_specs, options_for_select(['Actual', 'Design'], 'Actual'), class: 'form-control'
  .row
    .form-group.col-lg-3
      = label_tag :search_term, "Is", class: 'control-label'
      .controls
        = text_field_tag :search_term, '',class: 'form-control'
  .row
    .form-group.col-lg-3
      = submit_tag "Search", class: 'btn btn-primary'

