= form_for @equipment_field, html: { class: "form form-horizontal equipment_field" } do |f|
  .form-group
    = f.label :uuid, class: 'control-label'
    .controls
      = f.text_field :uuid, class: 'form-control', disabled: true
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@equipment_field[:name])
  .form-group
    = f.label :field_type, class: 'control-label'
    .controls
      = f.text_field :field_type, class: 'form-control', required: true
    = error_span(@equipment_field[:field_type])
  .form-group
    = f.label :equipment_type_id, class: 'control-label'
    .controls
      = f.text_field :equipment_type_id, class: 'form-control', required: true
    = error_span(@equipment_field[:equipment_type_id])
  .form-group
    = f.label :position, class: 'control-label'
    .controls
      = f.text_field :position, class: 'form-control', required: true
    = error_span(@equipment_field[:position])
    = error_span(@equipment_field[:uuid])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), equipment_fields_path, :class => 'btn btn-default'
