= form_for @equipment, html: { class: "form form-horizontal equipment" } do |f|
  = f.hidden_field :equipment_type_id
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@equipment[:name])
  .form-group
    = f.label :system_id, class: 'control-label'
    .controls
      = f.collection_select :system_id, @systems, :id, :name,
        {prompt: 'Please select'},
        {class: 'form-control', required: true}
    = error_span(@equipment[:system_id])

  = f.fields_for :specifications, OpenStruct.new(@equipment.specifications) do |builder|
    - @equipment.equipment_type.fields.each do |field|
      = render "/equipment_types/fields/#{field.field_type}", field: field, f: builder

  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), equipments_path, :class => 'btn btn-default'
