%hr
.field
  = f.label :equipment
  = f.text_field :equipment
.field
  = f.label :name
  = f.text_field :name
.field
  = f.label :datatype
  = f.text_field :datatype
.field
  = f.label :position
  = f.number_field :position
