- model_class = Equipment
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

= form_tag new_equipment_path, method: :get do
  .row
    .col-lg-2
      = select_tag :equipment_type_id, options_from_collection_for_select(@equipment_types, :id, :name), class: 'form-control'
    .col-lg-2
      = submit_tag "New Equipment", name: nil, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:system_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @equipments.each do |equipment|
      %tr
        %td= link_to equipment.id, equipment_path(equipment)
        %td= equipment.name
        %td= equipment.system.name
        %td=local_date(equipment.created_at, format: :long)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_equipment_path(equipment), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), equipment_path(equipment), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
