= form_for @equipment, :html => { :class => 'form-horizontal' } do |f|


  .form-group
    = f.label :location_id, :class => 'control-label'
    .controls
      = f.select :location_id, options_for_select( Location.all.map{ |x| [x.name, x.id] } ), :class => 'form-control'
  .form-group
    = f.label :category_id, :class => 'control-label'
    .controls
      = f.select :category_id, options_for_select( Category.all.map{ |x| [x.name, x.id] } ), :class => 'form-control'
  .form-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_field :description, :class => 'form-control'

  - Property.all.collect{|x| x.listed_sym}.each do |property_key|
    .form-group
      = f.label property_key, :class => 'control-label'
      .controls
        = f.text_field property_key, :class => 'form-control'

  - Property.all.collect{|x| x.actual_sym}.each do |property_key|
    .form-group
      = f.label property_key, :class => 'control-label'
      .controls
        = f.text_field property_key, :class => 'form-control'

  .form-group
    = f.label :actual_specs, :class => 'control-label'
    .controls
      = f.text_field :actual_specs, :class => 'form-control'
  .form-group
    = f.label :itemcode, :class => 'control-label'
    .controls
      = f.text_field :itemcode, :class => 'form-control'
  .form-group
    = f.label :installed_at, :class => 'control-label'
    .controls
      = f.date_select :installed_at, :class => 'form-control', include_blank: true
  %hr
  .form-group
    = f.label :replaced_at, :class => 'control-label'
    .controls
      = f.date_select :replaced_at, :class => 'form-control', include_blank: true
  .form-group
    = f.label :failure_mode, :class => 'control-label'
    .controls
      = f.text_field :failure_mode, :class => 'form-control'

  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), equipment_index_path, :class => 'btn btn-default'
