- model_class = Equipment
.page-header
  %h1 #{@equipment.category.name} Equipment

%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @equipment.description

%hr

.row
  .col-md-6

    - @equipment.properties.listed_properties.each do |property_key|
      %p
        %strong= model_class.human_attribute_name(property_key) + ':'
        = @equipment.send(property_key)

  .col-md-6
    - @equipment.properties.actual_properties.each do |property_key|
      %p
        %strong= model_class.human_attribute_name(property_key) + ':'
        = @equipment.send(property_key)

%hr
%p
  %strong= model_class.human_attribute_name(:itemcode) + ':'
  %br
  = @equipment.itemcode
%p
  %strong= model_class.human_attribute_name(:installed_at) + ':'
  %br
  = @equipment.installed_at
%p
  %strong= model_class.human_attribute_name(:replaced_at) + ':'
  %br
  = @equipment.replaced_at
%p
  %strong= model_class.human_attribute_name(:failure_mode) + ':'
  %br
  = @equipment.failure_mode


= link_to t('.back', :default => t("helpers.links.back")), equipment_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_equipment_path(@equipment), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), equipment_path(@equipment), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
