= form_for @property, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    = f.label :category_id, :class => 'control-label'
    .controls
      = f.select :category_id, Category.all.map{ |x| [x.name, x.id] }, {}, disabled: @property.persisted?,  class: 'form-control'
  .form-group
    = f.label :position, :class => 'control-label'
    .controls
      = f.text_field :position, :class => 'form-control'
  .form-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :symbol, :class => 'control-label'
    .controls
      = f.text_field :symbol, :class => 'form-control', disabled: @property.persisted?
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), properties_path, :class => 'btn btn-default'
