%p#notice= notice

%p
  %b Equipment:
  = @specification.equipment
%p
  %b Name:
  = @specification.name
%p
  %b Datatype:
  = @specification.datatype
%p
  %b Position:
  = @specification.position

= link_to 'Edit', edit_specification_path(@specification)
\|
= link_to 'Back', specifications_path
