- model_class = FailureMode
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:equipment_id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @failure_modes.each do |failure_mode|
      %tr
        %td= link_to failure_mode.id, failure_mode_path(failure_mode)
        %td= failure_mode.equipment_id
        %td= failure_mode.name
        %td=l failure_mode.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_failure_mode_path(failure_mode), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), failure_mode_path(failure_mode), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_failure_mode_path, :class => 'btn btn-primary'
