= form_for @system, html: { class: "form form-horizontal system" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@system[:name])
  .form-group
    = f.label :location_id, class: 'control-label'
    .controls
      = f.text_field :location_id, class: 'form-control', required: true
    = error_span(@system[:location_id])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), systems_path, :class => 'btn btn-default'
