.form-group.row
  .col-lg-3
    = f.text_field :uuid, class: 'form-control', disabled: true
  .col-lg-3
    .control
    = f.select :field_type, %w[text_field check_box], {}, class: 'form-control', required: true
  .col-lg-3
    = f.text_field :name, class: 'form-control', placeholder: 'Field Name', required: true
  .col-lg-2
    = f.number_field :position, class: 'form-control', required: true

  .col-lg-1
    = f.hidden_field :_destroy
    = link_to "Remove", '#', class: 'remove_fields btn btn-danger', data: {field: '.form-group'}