= form_for @equipment_type, html: { class: "form form-horizontal equipment_type" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@equipment_type[:name])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), equipment_types_path, :class => 'btn btn-default'
