- model_class = EquipmentType
.page-header
  %h1
    %page_subject Equipment Type
    = @equipment_type.name

%h3 Fields
%table.table
  %tr
    %th UUID
    %th Field Name
    %th Field Type
  - @equipment_type.fields.each do |field|
    %tr
      %td= field.uuid
      %td= field.name
      %td= field.field_type




= link_to t('.back', :default => t("helpers.links.back")), equipment_types_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_equipment_type_path(@equipment_type), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), equipment_type_path(@equipment_type), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
